<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"></link>
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
</head>
<body>



    <div class="">
        <!--导航-->
        <nav  th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-td-mini m-shadow-small" >

            <div class="ui container">
                <div class="ui inverted secondary stackable menu">
                    <h2 class="ui teal  item">管理后台</h2>
                    <a href="#" class="active m-item item m-mobile-hide"><i class="mini home icon"></i>博客</a>
                    <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
                    <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
                    <div class="right m-item m-mobile-hide menu">
                        <div class="ui dropdown item">

        </nav>



    </div>





    <div class="site-brand-wrapper"   id="site-brand-wrapper-back" style="background-image:url(/images/7.jpg)" th:src="@{/images/7.jpg}" >

        无痕'blog

    </div>
    <div class="ui attached  pointing menu " style="z-index: 3">
        <div class="ui container">
            <div class="right menu">
                <a href="#" class="item">发布</a>
                <a href="#" class="teal active item">列表</a>
            </div>
        </div>

    </div>


    </div>
    <!--中间内容-->
    <div  class="">
        <div class="ui container">
            <div  class="ui secondary segment form">
                <input type="hidden" name="page" >
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="标题">
                    </div>
                    <div class="field">
                        <div class="ui labeled action input">
                            <div class="ui type selection dropdown">
                                <input type="hidden" name="typeId">
                                <i class="dropdown icon"></i>
                                <div class="default text">分类</div>
                                <div class="menu">
                                    <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">我的故事</div>
                                </div>
                            </div>
                            <button id="clear-btn" class="ui compact button">clear</button>
                        </div>

                    </div>
                    <!--<div class="field">-->
                    <!--<div class="ui checkbox">-->
                    <!--<input type="checkbox" id="recommend" name="recommend">-->
                    <!--<label for="recommend">推荐</label>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="field">
                        <button  type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
                    </div>
                </div>
            </div>
            <div id="table-container">
                <table th:fragment="blogList" class="ui compact teal table">
                    <thead>
                    <tr align="center">
                        <th>ID</th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>推荐</th>
                        <th>状态</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr align="center" th:each="blog,iterStat : ${pageInfo.list}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${blog.title}">大圣，此去欲何?</td>
                        <td th:text="${blog.getType().name}">我的故事</td>
                        <td th:text="${blog.recommend} ? '是':'否'">是</td>
                        <td th:text="${blog.published} ? '发布':'草稿'">草稿</td>
                        <td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2020-01-02 05:20</td>
                        <td>
                            <!--th:href="@{/admin/types/{id}/input(id=${type.id})}"-->
                            <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui mini teal basic button">编辑</a>
                            <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" onclick="return confirm('确定要删除该文章吗？三思啊! 删了可就没了！')" class="ui mini red basic button">删除</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui inverted divided stackable grid">
                                <div class="three wide column" align="center">
                                    <a class="item" th:href="@{/admin/blogs(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" th:unless="${pageInfo.isFirstPage}">上一页</a>
                                </div>

                                <div class="ten wide column" align="center">
                                    <p>第 <span th:text="${pageInfo.pageNum}"></span> 页，共 <span th:text="${pageInfo.pages}"></span> 页，有 <span th:text="${pageInfo.total}"></span> 篇文章</p>
                                </div>

                                <div class="three wide column" align="center">
                                    <a class="item" th:href="@{/admin/blogs(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" th:unless="${pageInfo.isLastPage}">下一页</a>
                                </div>
                            </div>
                            <div align="center">
                                <a href="#" th:href="@{/admin/blogs/input}">
                                    <button type="button" class="ui teal button m-mobile-wide m-margin-top"><i class="pencil icon"></i>新增</button>
                                </a>
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>

                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="" th:text="|提示： ${message}">提示：操作成功！</div>
                </div>

            </div>

        </div>
    </div>

    <!--底部footer-->
    <footer class="ui inverted vertical segment m-padded-td-massive" style="width: 100%;">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">



                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">

                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email:wfwuhen@163.com</a>
                        <a href="#" class="item">QQ:1127481285</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Blog</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item m-opacity-mini">这是我个人的博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到的人有所帮助</a>
                    </div>
                </div>


            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-tex-spaced m-opacity-tiny">dddddddddddddddddddd</p>

        </div>
</footer>
</body>

<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    })
    $('.ui.dropdown').dropdown({
        on:'hover'
    });

</script>
</html>