<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>归档</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"></link>
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>



    <div class="">
        <!--导航-->
        <nav  th:replace="_fragments :: menu(7)" class="ui inverted attached segment m-padded-td-mini m-shadow-small" >


        </nav>









        <div class="site-brand-wrapper"   id="site-brand-wrapper-back" style="background-image:url(/images/7.jpg)" th:src="@{/images/7.jpg}" >
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div class="m-margin-top-maxx" align="center">
                <img class="ui circular image" align="center"  src="../static/images/backimg.jpg" th:src="@{/images/14.jpg}" style="width: 150px;height: 150px;">
            </div>
            <br>
            <div class="m-font-size-title-mediul" align="center">无痕</div>

            <br>
            <div class="" align="center">
                <a href="#" class="ui tencent circular icon button"><i class="user icon"></i></a>
                <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                <a href="#" class="ui qq circular icon button" data-content="1127481285" data-position="bottom center"><i class="qq icon"></i></a>
                <a href="#" target="_blank" class="ui github circular icon button" data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
                <a href="#" class="ui email circular icon button" data-content="wfwuhen@163.com" data-position="bottom center"><i class="envelope  icon"></i></a>
            </div>
        </div>

        <p class="site-subtitle"></p>
    </div>
    <!--中间内容-->
    <div class="m-container m-padded-tb-big">
        <div class="ui container">
            <div class="ui stackable  grid">
                <div class="eleven wide column">
                    <img src="../static/images/30.jpg" th:src="@{/images/30.jpg}"alt="" class="ui rounded image" style="width: 800px" >
                </div>
                <div class="five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text">98后</p>
                        <p class="m-text">一个喜新厌旧的肥宅（前提是新的好用又有趣）</p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui orange basic left pointing label ">编辑</div>
                        <div class="ui orange basic left pointing label ">写作</div>
                        <div class="ui orange basic left pointing label ">思考</div>
                        <div class="ui orange basic left pointing label ">运动</div>
                    </div>
                    <div class="ui bottom attached segment">
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">java</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">spring boot</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">activeMQ</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">redis</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">mysql</div>
                    </div>

                    <div class="ui wechatQR flowing popup transition hidden">
                            <img src="../static/images/14.jpg"th:src="@{/images/39.png}"  alt="" class="ui rounded image" style="width: 100px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--底部footer-->
    <footer class="ui inverted vertical segment m-padded-td-massive" style="width: 100%;">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">



                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/1000.jpg" th:src="@{/images/1000.jpg}" class="ui rounded image" alt="" style="width: 200px">

                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email:wfwuhen@163.com</a>
                        <a href="#" class="item">QQ:1127481285</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Blog</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item m-opacity-mini">这是我个人的博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到的人有所帮助</a>
                    </div>
                </div>


            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-tex-spaced m-opacity-tiny">dddddddddddddddddddd</p>

        </div>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    })

    $('.qq').popup();
    $('.email').popup();
    $('.github').popup();
    $('.wechat').popup({
        popup : $('.wechatQR'),
        on :'hover',
        position: 'bottom center'
    });
</script>
</html>