<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8" >
    <title>博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"></link>
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>




        <!--导航-->
      <nav th:replace="_fragments :: menu(4)" class="ui inverted attached segment m-padded-td-mini" >

            </nav>









        <div class="site-brand-wrapper"   id="site-brand-wrapper-back" style="background-image:url(/images/7.jpg)" th:src="@{/images/7.jpg}" >
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div class="m-margin-top-maxx" align="center">
                <img class="ui circular image" align="center"  src="../static/images/backimg.jpg" th:src="@{/images/14.jpg}" style="width: 150px;height: 150px;">
            </div>
            <br>
            <div class="m-font-size-title-mediul" align="center">无痕</div>

            <br>
            <div class="" align="center">
                <a href="#" class="ui tencent circular icon button"><i class="user icon"></i></a>
                <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                <a href="#" class="ui qq circular icon button" data-content="1127481285" data-position="bottom center"><i class="qq icon"></i></a>
                <a href="#" target="_blank" class="ui github circular icon button" data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
                <a href="#" class="ui email circular icon button" data-content="wfwuhen@163.com" data-position="bottom center"><i class="envelope  icon"></i></a>
            </div>
        </div>
        <p class="site-subtitle"></p>

     <!--中间内容-->
        <div id="waypoint" class="m-margin- animated fadeIn">
            <div class="ui container m-opacity box-shadow-max">
                <!--                新增留言-->
                <div id="message-form" class="ui form">
                    <input type="hidden" name="parentMessage.id" value="-1">
                    <!--                    留言区-->
                    <div class="field">
                        <textarea name="content" placeholder="请输入留言信息..."></textarea>
                    </div>
                    <div class="ui grid">
                        <!--                    输入姓名-->
                        <div class="five wide column">
                            <div class="field m-mobile-wide m-margin-bottom-small">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="nickname" placeholder="Id" th:value="${session.user}!=null ? ${session.user.nickname}">
                                </div>
                            </div>
                        </div>

                        <!--                        输入邮箱-->
                        <div class="five wide column">
                            <div class="field m-mobile-wide m-margin-bottom-small">
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="text" name="email" placeholder="Email" th:value="${session.user}!=null ? ${session.user.email}">
                                </div>
                            </div>
                        </div>

                        <div class="right aligned six wide column">
                            <div class="field m-mobile-wide m-margin-bottom-small">
                                <button id="messagepost-btn" type="button" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--留言区-->
                <div class="ui bottom attached m-margin-top">
                    <div id="message-container" class="ui teal segment">
                        <div th:fragment="messageList">
                            <div class="ui threaded comments" style="max-width: 100%;">
                                <h3 class="ui dividing header">留言</h3>
                                <div class="comment" th:each="message : ${messages}">
                                    <a class="avatar">
                                        <img src="../static/image/me.jpg" th:src="@{${message.avatar}}">
                                    </a>
                                    <div class="content">
                                        <a class="author">
                                            <span th:text="${message.nickname}">Matt</span>
                                            <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${message.adminMessage}">栈主</div>
                                        </a>
                                        <div class="metadata">
                                            <span class="date" th:text="${#dates.format(message.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                        </div>
                                        <div class="text" th:text="${message.content}">太赞了！ </div>
                                        <div class="actions">
                                            <a class="reply" data-messageid="1" data-messagenickname="Matt" th:attr="data-messageid=${message.id},data-messagenickname=${message.nickname}" onclick="reply(this)">回复</a>
                                            <a class="delete" href="#" th:href="@{/messages/{id}/delete(id=${message.id})}" onclick="return confirm('确定要删除该评论吗？三思啊! 删了可就没了！')" th:if="${session.user}">删除</a>
                                        </div>
                                    </div>
                                    <!--子集留言-->
                                    <div class="comments" th:if="${#arrays.length(message.replyMessages)}>0">
                                        <div class="comment" th:each="reply : ${message.replyMessages}">
                                            <a class="avatar">
                                                <img src="../static/image/me.jpg" th:src="@{${reply.avatar}}">
                                            </a>
                                            <div class="content">
                                                <a class="author">
                                                    <span th:text="${reply.nickname}">小红</span>
                                                    <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${reply.adminMessage}">栈主</div>
                                                    &nbsp;<span th:text="|@ ${reply.parentNickname}|" class="m-teal">@ 小白</span>
                                                </a>
                                                <div class="metadata">
                                                    <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                                </div>
                                                <div class="text" th:text="${reply.content}">太赞了！ </div>
                                                <div class="actions">
                                                    <a class="reply" data-messageid="1" data-messagenickname="Matt" th:attr="data-messageid=${reply.id},data-messagenickname=${reply.nickname}" onclick="reply(this)">回复</a>
                                                    <a class="delete" href="#" th:href="@{/messages/{id}/delete(id=${reply.id})}" onclick="return confirm('确定要删除该评论吗？三思啊! 删了可就没了！')" th:if="${session.user}">删除</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <br>
                <br>
                <br>

            </div>
        </div>
        <div class="ui wechatQR flowing popup transition hidden">
            <img src="../static/images/14.jpg"th:src="@{/images/39.png}"  alt="" class="ui rounded image" style="width: 100px">
        </div>

        <br>
        <br>
        <br>

     <!--底部footer-->
     <footer  th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-td-massive" style="width: 100%;">

     </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    })
    $(".ui.dropdown").dropdown();

    $('.qq').popup();
    $('.email').popup();
    $('.github').popup();
    $('.wechat').popup({
        popup : $('.wechatQR'),
        on :'hover',
        position: 'bottom center'
    });
    //评论表单验证
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }
                ]
            },
            content: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入你的大名'
                }]
            },
            type: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '请填写正确的邮箱地址'
                }]
            }
        }
    });

    // 初始化加载
    $(function () {
        $("#message-container").load(/*[[@{/messagecomment}]]*/"messagecomment");
    });

    // 校验信息
    $('#messagepost-btn').click(function () {
        var boo = $('.ui.form').form('validate form');
        if (boo) {
            console.log('校验成功');
            postData();
        } else {
            console.log('校验失败');
        }
    });

    //发送请求给后端
    function postData() {
        $("#message-container").load(/*[[@{/messages}]]*/"",{
            "parentMessage.id" : $("[name='parentMessage.id']").val(),
            // "blog.id" : $("[name='blog.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email"   : $("[name='email']").val(),
            "content" : $("[name='content']").val()
        },function (responseTxt, statusTxt, xhr) {
//        $(window).scrollTo($('#message-container'),500);
            clearContent();
        });
    }

    // 清除表单
    function clearContent() {
        $("[name='nickname']").val('');
        $("[name='email']").val('');
        $("[name='content']").val('');
        $("[name='parentMessage.id']").val(-1);
        $("[name='content']").attr("placeholder", "请输入评论信息...");
    }

    function reply(obj) {
        var messageId = $(obj).data('messageid');
        var messageNickname = $(obj).data('messagenickname');
        $("[name='content']").attr("placeholder", "@"+messageNickname).focus();
        $("[name='parentMessage.id']").val(messageId);
        $(window).scrollTo(0,500);
    }
</script>
</html>